@import '../../../../styles/colors';

.input {
  input {
    border-bottom-color: $input-active-color;
  }

  span::after {
    background-color: $input-active-color;
  }

  & > label,
  & > span {
    color: $input-active-color !important;
  }

  &.error {
    input {
      border-bottom-color: $input-warning-color;
    }

    span::after {
      background-color: $input-warning-color;
    }

    & > label,
    & > span {
      color: $input-warning-color !important;
    }
  }
}