@import '../../../../styles/colors';

.input {
  div, input, span {
    font-size: 16px;
    font-weight: bold;
  }

  input {
    border-bottom-color: $input-active-color;
  }
  //
  span::after, span::before {
    background-color: $input-active-color;
  }
  //
  & > label,
  & > span {
    color: $input-active-color !important;
  }
  //
  &.error {

    input {
      border-bottom-color: $input-warning-color;
    }

    span::after, span::before {
      background-color: $input-warning-color;
    }

    & > label,
    & > span {
      color: $input-warning-color !important;
    }
  }
}