@import "../../../../styles/colors";

.navigation {
  .item {
    & > span > span > span {
      color: $blue-color;
    }
    &:hover {
      background-color: $blue-color;

      & > span > span > span {
        color: $beige-color;
      }
    }
  }
}