@import '../../../../../../styles/colors';
@import '../../../../../../styles/config';

.registration-box {
  &.registration {
    height: 100%;
    background-image: url('assets/main_site_background.png');
    background-position: left top;
    background-repeat: repeat;
    .card {
      & > div{
        &:first-child{
          background-color: $registration-header-background;
          color: $registration-header-font-color;
        }
      }
    }

  }

  .sign-up-button {
    float: none !important;
  }
}

