@import '../../../../styles/colors';

.rt-button {
  background: $button-color !important;
  padding: 6px 12px;
  height: 30px;
  font-size: 13px;
  margin: 0 5px 10px 0;
  display: inline-block;

  &:hover {
    background: darken($button-color, 10%) !important;
  }

  & > span {
    line-height: 18px !important;
  }

  &.large {
    padding: 10px 16px;
    height: 42px;
    font-size: 17px;

    & > span {
      line-height: 23px !important;
    }
  }

  &.small {
    padding: 5px 10px;
    height: 28px;
    font-size: 12px;

    & > span {
      line-height: 18px !important;
    }
  }

  &.extra-small {
    padding: 2px 5px;
    height: 20px;
    font-size: 11px;

    & > span {
      line-height: 16.5px !important;
    }
  }
}