@import '`~styles/colors';
@import '~styles/config';

.reset-password {
  width: 100%;
  height: 100%;
  background-image: url('assets/main_site_background.png');
  background-position: left top;
  background-repeat: repeat;
}