RewriteEngine On

# Uncomment if a simple case of the site residing
# directly at (sub)domain ex. www.iwm.tomys.me
# RewriteBase /


RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# BASE_HREF #
# RewriteRule . /index.html [L]
