@import "./src/styles/config.scss";
@import "./src/styles/colors.scss";

$preferred-font: Lato, sans-serif;
$appbar-height: $app-bar-height;
$appbar-color: $app-bar-background-color;

/* $button-neutral-color: $button-default-color */

$button-primary-color-contrast: $button-primary-color-font;
$button-primary-color: $button-primary-color;

$checkbox-color: $checkbox-color;
$checkbox-text-color: $checkbox-color;

$input-text-label-color: $input-text-label-color;

$switch-color: darken($blighteen-green, 10%);
$switch-track-on-color: $blighteen-green;

$slider-main-color: $slider-color;