@import '../../../../../../styles/colors';
@import '../../../../../../styles/config';


.root {
  .header {
    height: $menu-bar-height;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $header-bar-background-color;
    color: $header-bar-font-color;
    z-index: 9999;

    .user-name {
      height: #menu-bar-height;

      float: right;
    }

  }

  .body {
    height: 100%;
    margin-top: $menu-bar-height;
  }
}