@import '../../../../../styles/colors';
@import '../../../../../styles/config';

.root {
  .body {
    flex: 1;
    overflow-y: auto;
    padding: 40px;
    width: 100%;
    height: calc(100% - 60px);
    overflow-x: hidden;

    & > div {
      overflow-x: hidden;
    }
  }
}