$blighteen-green: #29ABA4;
$blue-color: #354458;
$blighteen-blue-color: #3a9ad9;
$red-color: #eb7260;
$light-color: #e9e0d6;
$light-gray: #E8E8E8;

$beige-color: #f2ebc7;
$gray-color: #979c9c;
$graphite-color: #343642;

$font-colot: #757575;

$button-color: $blighteen-green;
$button-hover-color: darken($button-color, 10%);
$button-font-color: white;
$button-secondary-color: $gray-color;

/* buttons */
$button-default-color: $gray-color;
$button-default-hover-color: darken($gray-color, 10%);

$button-primary-color: $blighteen-green;
$button-primary-color-hover: darken($button-primary-color, 10%);
$button-primary-color-font: white;

$button-menu-in-top-bar-color: $blue-color;


$input-active-color: $blue-color;
$input-warning-color: $red-color;

$checkbox-color: $blighteen-green;

$app-bar-background-color: $blighteen-green;
$header-bar-font-color: white;
$header-logo-fill-color: white;
$header-sign-in-button-background: white;
$header-sign-in-font-color: $blighteen-green;

$main-site-background-color: $blighteen-green;

$drawer-menu-background-color: white;
$drawer-menu-font-color: black;
$drawer-menu-font-focus-color: $blighteen-green;
$drawer-menu-item-focus-background-color: #eeeeee;
$drawer-menu-item-left-border-color: #00c8e7;
$drawer-menu-submenu-open-background-color: white;

$card-header-background: $light-gray;

$login-header-background: $blighteen-green;
$login-header-font-color: white;

$registration-header-background: $blighteen-green;
$registration-header-font-color: white;

$input-text-inactive-font-color: rgba(0, 0, 0, 0.35);
$input-text-label-color: rgba(0, 0, 0, 0.35);

$calendar-event: $blighteen-green;
$calendar-event-selected: darken($blighteen-green, 10%);