$blue-color: #0B5379;
$blighteen-blue-color: #04779b;
$beige-color: #f2ebc7;
$gray-color: #979c9c;
$red-color: #962d3e;
$graphite-color: #343642;

$button-color: $blue-color;

$input-active-color: $blue-color;
$input-warning-color: $red-color;

$checkbox-color: $blue-color;

$header-bar-background-color: $blue-color;
$header-bar-font-color: white;

$drawer-menu-background-color: $blighteen-blue-color;
$drawer-menu-font-color: white;
$drawer-menu-item-focus-background-color: $blue-color;