$menu-bar-height: 50px;
$menu-drawer-width: 300px;
$menu-drawer-item-height: 45px;
$menu-drawer-item-font-size: 16px;
$menu-drawer-subitem-font-size: 14px;

$login-header-height: 110px;
$registration-header-height: 110px;