@import '../../../../styles/colors';
@import '../../../../styles/config';

.login {
  height: 100%;
  .login-card {
    margin: 0;
    .login-card-title {
      background-color: $login-header-background;
      color: $login-header-font-color;
    }
  }

}